<body>
  <!-- @RH_RANTWORKS -->
  <!-- Component title. -->
  <div class="widget-title">
    Spotify
    <a
      href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX"
      target="_blank"
    >
      <img class="icon" src="assets/images/spotify.png" alt="BTS's Spotify" />
    </a>
  </div>
  <!-- @NMK_RANTWORKS -->
  <!-- Spotify embed. -->
  <div class="spotify-container">
    <iframe
      src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    >
    </iframe>
  </div>
  <!-- Timestamp -->
  <div class="timestamp">Updated on "Holder"</div>
</body>
