/* Set background color */
body {
  background-color: lavender;
}

/* Formatting for widget title. */
.widget-title {
  text-align: center;
  font-family: "Verdana";
  color: black;
  font-size: 24px;
}

/* Adjust formatting for iframe. */
iframe {
  display: block;
  margin: 0 auto;
  border: 0;
}
