<body>
  <!-- Component title. -->
  <div class="widget-title">
    <a href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX" title="BTS's Spotify Page">Spotify</a>
  </div>
  <!-- Spotify embed. -->
  <div class="spotify-container">
    <iframe
      src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    >
    </iframe>
  </div>
  <!-- Timestamp -->
  <div class="timestamp">Updated on "Holder"</div>
</body>
