<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<head>
  <link href='https://fonts.googleapis.com/css?family=Mogra' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<style>
body {background-color: lavender;}
h1   { text-align: center; font-family: 'Mogra';}
p    {color: black; text-align: center;  font-size: 16px}
</style>
</head>

<body>
<h1 class = "title">
    Create an Account
  </h1>

  <p>

  <span>Username </span>
    <br>
  <textarea 
            name="LoginBox" cols="50" rows="1"> 
  </textarea>
  <br>
    <br>
     <span>E-mail Address </span>
    <br>
    <textarea 
    name="EmailBox" cols="50" rows="1"> 
</textarea>
  <br>
    <br>
  <span>Password </span>
    <br>
  <textarea 
            name="PasswordBox" cols="50" rows="1"> 
  </textarea>
  <br>
  <br>
   <span>Confirm Password </span>
    <br>
  <textarea 
            name="PasswordBox2" cols="50" rows="1"> 
  </textarea>
  <br>
  <br>

  <button type="button">
    Forget Password?
  </button>
    <button type="button">
    Already Have an Account?
  </button>
  <button type="button">
    Back to Homepage
  </button>
  </p>
</body>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
