/* Set background color */
body {
  background-color: lavender;
} 

/* Formatting for header. */
.header {
  text-shadow: 3px 3px 7px gray;
  color: black;
  font-size: 60px;
  text-align: left;
  font-family: "Helvetica Neue";
  letter-spacing: 5px;
  font-weight: 300;
}

/* Icon image formatting. */
img {
  width: 100px;
  height: 100px;
  padding: 5px;
}
