<!-- Creates the header. -->
<div class="header">
  <!-- Site icon and name. -->
  <img class="logo" src="assets/images/bts-verse-logo.png" alt="Logo" />
  BTS-VERSE
  <span class="icon-bar">
    <a href="https://twitter.com/bts_twt">
      <img class="icon" src="assets/images/twitter.png" alt="BTS's Twitter" />
    </a>
    <a href="https://www.facebook.com/bangtan.official/">
      <img class="icon" src="assets/images/facebook.png" alt="BTS's Facebook" />
    </a>
    <a href="https://www.instagram.com/bts.bighitofficial/">
      <img class="icon" src="assets/images/instagram.png" alt="BTS's Instagram" />
    </a>
    <a href="http://soundcloud.com/bangtan">
      <img class="icon" src="assets/images/soundcloud.png" alt="BTS's SoundCloud" />
    </a>
    <a href="https://www.youtube.com/user/BANGTANTV">
      <img class="icon" src="assets/images/youtube.png" alt="BTS's Youtube" />
    </a>
    <a href="https://www.tiktok.com/@bts_official_bighit">
      <img class="icon" src="assets/images/tiktok.png" alt="BTS's Tiktok" />
    </a>
  </span>
</div>