/* Set background color */
body {
  background-color: white;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
}

/* Formatting for widget title. */
.widget-title {
  text-align: left;
  font-family: "Verdana", sans-serif;
  color: #3a3a3a;
  font-size: 36px;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

/* Timestamp formatting. */
.timestamp {
  text-align: right;
  font-size: 10px;
  padding: 10px;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

/* Adjust formatting for iframe. */
.youtube-video-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Arrow formatting */
.arrow {
  clear: right;
  float: right;
  padding-right: 10px;
  text-shadow: 2px 2px 4px silver;
  text-decoration: none;
  font-family: "Verdana", sans-serif;
  color: #3a3a3a;
}

.arrow:hover {
  text-shadow: 2px 2px 4px #8878c3;
}