/* Set background color */
body {
  background-color: lavender;
}

/* Formatting for widget title. */
.widget-title {
  text-align: left;
  font-family: "Verdana";
  color: black;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}


/* Adjust formatting for iframe. */
.iframe-container iframe {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
