/* Set background color */
body {
  background-color: white;
}

/* Formatting for widget title. */
.widget-title {
  text-align: center;
  font-family: "Verdana";
  color: black;
  font-size: 24px;
}

/* Formatting for article from Wikipedia. */
.article {
  background-color: white;
  background: white;
  color: black;
  text-align: left;
  font-size: 16px;
}

.timestamp {
  text-align: right;
  font-size: 10px;
}

