<body>
  <!-- Card title. -->
  <div class="widget-title">
    About BTS <a href="https://en.wikipedia.org/wiki/BTS" title="BTS's Wikipedia Page"><var class="arrow">↗</var></a>
  </div>
  <blockquote class="summary">From Wikipedia, the free encyclopedia</blockquote>
  <!-- Article body. -->
  <div class="article">
    <img class="text-wrap" alt="Image of BTS" src="{{ thumbnail.source }}" />
    <div [innerHTML]="extract_html"></div>
  </div>
  <!-- Timestamp of retrevial. -->
  <div class="timestamp">Retrieved on {{ timestamp }}</div>
</body>
