body {
  background-color: lavender;
}
.widget-title {
  text-align: center;
  font-family: "Verdana";
  color: black;
  font-size: 24px;
}
article {
  color: black;
  text-align: center;
  font-size: 16px;
}
