/* Set background color */
body {
    background-color: lavender;
  }

/* Formatting for widget title. */
.widget-title {
    text-align: center;
    font-family: "Verdana";
    color: black;
    font-size: 24px;
  }

h4 {
  text-align: center;
  font-family: "Verdana";
}

p {
  color: black;
  text-align: center;
  font-size: 16px;
}
