<script type="module" src="./5-3/1/bts-verse/src/app/twitter-feed/twitter.js"></script>

<body>
  <div class="widget-title"><a href="https://twitter.com/BTS_twt" title="BTS's Twitter Page">Twitter</a></div>
  <h4>
    <a
      class="twitter-timeline"
      href="https://twitter.com/BTS_twt?ref_src=twsrc%5Etfw"
      >Tweets by BTS_twt</a
    >
    <!-- <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script> -->
    Tweet
  </h4>
  <br/>
<div class = "card">
  <script src = "./twitter.js"></script>
  <div *ngIf="undefined === this.timeline">Loading...</div>
  <div *ngIf="undefined !== this.timeline">
  <ng-container *ngFor="let tweets of this.timeline.data; let i = index">
  <h3><div class="center">Tweet {{i + 1}}</div></h3>
  <p>Tweet: {{tweets.full_text}}</p>
  <p>Name: {{tweets.user.name}}</p>
  <img src = {{tweets.user.profile_image_url}}/>
  <p>Screenname: {{tweets.user.screen_name}}</p>
  <p>Number of Favorites: {{tweets.favorite_count}}</p>
  <p>Number of Retweets: {{tweets.retweet_count}}</p>
  <p>Bio: {{tweets.user.description}}</p>
  <p>Created at: {{tweets.created_at}}</p>

  <br>


</ng-container>
<div class="timestamp">Last Retrieved: {{this.timeline.resp.headers.date}}</div>

</div>
</div>
</body>

  <!-- <script>
    !(function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? "http" : "https";
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    })(document, "script", "twitter-wjs");
  </script>
</body> -->
