<body>
  <div class="widget-title">
    Twitter
    <span class="multi-icon"><a href="https://twitter.com/bts_twt" target="_blank">
      <img class="icon" src="assets/images/bts_twt.png" alt="BTS_Twt Twitter" />
    </a>
    <a href="https://twitter.com/bts_bighit" target="_blank">
      <img class="icon" src="assets/images/bts_bighit.png" alt="BTS Official Twitter" />
    </a>
  </span>
  </div>
  <div *ngIf="undefined === this.timeline">Loading...</div>
  <div *ngIf="undefined !== this.timeline">
    <div class="card-container">
      <ng-container *ngFor="let tweets of this.timeline.default; let i = index">
        <div class="card">
          <p>
            <img src="{{ tweets.profile_picture }}" />&nbsp; <b>{{ tweets.user_name }}</b> @{{ tweets.screen_name }}</p>
          <p>Tweeted: {{ tweets.full_text }}</p>
          <p>
            <img src="./assets/images/Likes.png" width="35" height="35" />{{
              tweets.favorites
            }}
            <img src="./assets/images/Retweets.jpg" width="30" height="30" />
            {{ tweets.retweets }}
          </p>
          <p>Posted: {{ tweets.created_at }}</p>
        </div>
      </ng-container>
    </div>
    <div class="timestamp">Last Retrieved: {{ "12:00pm EST" }}</div>
  </div>
</body>
